<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Titdfsffdle</title>
</head>
<body>
    <h1>добавление задач</h1>
    <form method="post">
        <input type="text" name="title" id="title" class="form-control"><br>
        <textarea name="intro" id="intro" class="form-control"></textarea><br>
        <textarea name="text" id="text" class="form-control"></textarea><br>
        <input type="submit" class="btn btn-success" value="дОбавить"><br>
    </form>
</body>
</html>